*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    background-color: skyblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 20px; */
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}


@media screen and (max-width:320px){
   ul{
    /* display: flex; */
    flex-direction: column;
   }
}

@media screen and (min-width:321px) and (max-width:768px) {
    ul{
        display: none;
    }
    li{
        width: 50%;
    }
}

@media screen and (max-width:769px) and (min-width:1440px) {
    ul{
        display: flex;
    }
}